@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

:root{
    --primary-color: #568EA3;
    --secondary-color: #68C3D4;
    --accent1-color: #FFD5C2;
    --accent2-color: #F28F3B;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;

    --nav-background-color: #333;
    --nav-link-color: #fff;
    --nav-hover-link-color: #FFD5C2;
    --nav-hover-background-color: #444;
}
body{
    font-family: var(--paragraph-font);
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
}

.hero div{
    position: relative;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1, article{
    position: absolute;
}
 
.social-media-links a {
    text-decoration: none;
}

.hero img{
    display: block; 
    width: 50%; 
    height: auto;
}

article img{
    float: left;
    opacity: 0.5;
    width: 50%;
}

article {
    display: flex;
    align-items: center;
}

article img {
    flex-shrink: 0;
    width: 50%;
    height: auto;
    margin-right: 20px;
}

article p {
    flex-grow: 1;
}

header{
    margin: 1rem;
    display: grid;
    grid-template-columns: 420% 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 100px;
}

nav{
    text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 1 1 100%;
}

.navigation a {
	display: block;
	color: var(--primary-color);
	padding: 20px;
	text-decoration: none;
    font-family: var(--heading-font);
}

.navigation a:hover {
	color: var(--accent2-color);
	font-weight: 700;
	text-decoration: underline;
    font-family: var(--heading-font)
}

section p{
    margin: 1rem;
    font-family: var(--paragraph-font);
    text-align: center;
}

footer{
    background-color: var(--primary-color);
    color: var(--nav-link-color);
    padding: 1rem;
    text-align: center;
}


.body_images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.001em;
    align-items: center;
}



