@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

:root{
    --primary-color: #568EA3;
    --secondary-color: #68C3D4;
    --accent1-color: #FFD5C2;
    --accent2-color: #F28F3B;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;

    --nav-background-color: #333;
    --nav-link-color: #fff;
    --nav-hover-link-color: #FFD5C2;
    --nav-hover-background-color: #444;

    --background-color: #daebf2;
}
body{
    font-family: var(--paragraph-font);
    max-width: 100%; 
    margin: 0 auto;
    padding: 0px;
    background-color: #f4f4f4;
    align-items: center;
}

.hero div{
    position: relative;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1, article{
    position: relative;
}
 
.social-media-links a {
    text-decoration: none;
}

.hero img{
    display: block; 
    width: 50%; 
    height: auto;
}

article img{
    float: left;
    opacity: 0.5;
    width: 50%;
}

article {
    display: flex;
    align-items: center;
}

article img {
    flex-shrink: 0;
    width: 50%;
    height: auto;
    margin-right: 20px;
}

article p {
    flex-grow: 1;
}

header{
    margin: 1rem;
    display: grid;
    grid-template-columns: 1000% 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 100px;
}

.navigation {
	display: flex;
	list-style: none;
    font-size: 1.5rem;
}

.navigation a {
	color: var(--primary-color);
	padding: 20px;
	text-decoration: none;
    font-family: var(--heading-font);
}

.navigation a:hover {
	color: var(--accent2-color);
	font-weight: 700;
	text-decoration: underline;
    font-family: var(--heading-font)
}

section p{
    margin: 1rem;
    font-family: var(--paragraph-font);
    text-align: center;
}

footer{
    background-color: var(--primary-color);
    color: var(--nav-link-color);
    padding: 1rem;
    text-align: center;
}


.body_images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0.001em;
    align-items: center;
}

.information{
    display: block;
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0rem;
    color: #fff;
}

.information h1{
    font-weight: 700;
    color: #fff;
}

.contact_us{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0rem;
}
legend{
    font-weight: 700;
    color: #333;
    background: #f4f4f4;
    font-size: 1.2rem;
    color: var(--primary-color);
}
fieldset{
    background-color: var(--accent1-color);
    border: 0px solid #ccc;
    padding: 1rem;
    margin: 3rem 0rem;
    font-size: 1.1rem;
    color: var(--primary-color);
}
form label, form input, form button, form select, form textarea{
    margin: 0.5rem 0rem;
    padding: 0rem;
}
button{
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: large;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 5rem;
}

button:hover{
    background-color: var(--accent2-color);
}

input[type="text"], input[type="email"]{
    width: 70%;
    padding: 0.5rem;
    font-size: large;
    margin-left: auto;
    margin-right: 0;
}

input[type="checkbox"]{
    width: 1.2rem;
    height: 1.2rem;
}

input[type="chekbox"]:hover{
    background-color: var(--accent2-color);
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0em;
    align-items: center;
    padding: 0rem 0rem 0rem 2rem;
    margin: 1rem 0rem;
    background-color: var(--background-color);
}

.contact a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.8rem;
    padding: 0.7rem 0.9rem 0.7rem 0.9rem;

    background-color: #568EA3;
    border-radius: 5px;
    color: #fff;
}
.contact a:hover{
    color: var(--accent1-color);
    text-decoration: underline;
}
.contact p{
    padding: 0.5rem;
}
.trips h2{
    font-weight: 700;
    padding: 0.5rem 0rem 0rem 0.5rem;
}
.trip1{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 1em;
    align-items: center;
    padding: 0rem 1.2rem 0rem 0rem;
    margin: 0rem 0rem;
    background-color: var(--background-color);
}

.trip2{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 1em;
    align-items: center;
    padding: 0rem 0rem 0rem 1.2rem;
    margin: 0rem 0rem 0rem 0rem;
    background-color: var(--accent1-color);
}

.trip3{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 1em;
    align-items: center;
    padding: 0rem 1.2rem 0rem 0rem;
    margin: 0rem 0rem;
    background-color: var(--background-color);
}

table{
    width: 90%;
    border-collapse: collapse;
    margin: 0em auto 3em auto;
    border: 0.5px solid #000000;
    padding: 1rem;
    font-size: 1.2rem;
}

thead{
    background-color: var(--primary-color);
    color: #fff;
}

th, td{
    border: 1px solid #000000;
    padding: 0.5rem;
    text-align: center;
}

.category{
    background-color: var(--accent1-color);
    font-weight: 700;
}

.table_title{
    text-align: center;
    text-decoration: underline;
    font-size: 2.2em;
    padding: 2rem 0rem 0rem 0rem;
}

.principal_image img{
    display: block;
    width: 100%;
    height: auto;
    z-index: -1;
    position: relative;
}
.principal_image h1{
    position: absolute;
    top: 8rem;
    left: 0;
    z-index: 1;
    color: #000000;
    font-size: 4em;
    padding: 1rem 2rem;
    color: #fff;
    background-color: var(--accent2-color);
}

.sign{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-items: center;
    padding: 1rem;
    margin: 0rem 0rem;
    background-color: var(--accent1-color);
    font-size: 1.5rem;
    
}

.sign legend{
    font-weight: 700;
    color: #333;
    background: var(--secondary-color);
    font-size: 1.8rem;
    position: absolute;
    padding: 0.5rem;
    border-radius: 9px;
}

.sign div{
    text-align: right;
}

.action{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-items: center;
    padding: 0rem 1rem 0rem 0rem;
    margin: 0rem 0rem;
    background-color: var(--background-color);
    font-size: 1.5rem;
}

.action a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 2.2rem;
    padding: 0.9rem 1rem;
    background-color: #568EA3;
    border-radius: 10px;
    color: #fff;
}
.action a:hover{
    color: var(--accent2-color);
    text-decoration: underline;
}
.action p{
    padding: 0.5rem;
    text-align:center;
}

.white_water{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0em;
    align-items: center;
    margin: 0rem 0rem;
    font-size: 1.5rem;
    background-color: var(--accent1-color);
}

.white_water p{
    text-align: center;
    padding: 0rem 2rem;
}



















