@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

:root{
    --font-: 'Open Sans', sans-serif;
}

body{
    font-style: var(--font-);  
    color:midnightblue;
    background: #f0f0f0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, h1{
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
}

form{
    width: 70%;
    margin: 1rem auto;
    padding: auto;
    border: chocolate;
    border-radius: 7px;
    background-color:rgb(193, 193, 193);
    display: grid;
}

fieldset{
    display: grid;
    grid-gap: 2px;
}

legend{
    font-weight: 700;
    color: #333;
    background: #f4f4f4;
}

form label, form input, form button, form select, form textarea{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0.5rem;
    padding: 0.5rem;
} 

label{
    text-align: right;
    padding-right: auto;
}

input, select, textarea{
    padding: 0.5rem;
    font-size: large;
}

input[type="checkbox"]{
    width: 40px;
    height: 40px;
    vertical-align: bottom;
}

button{
    margin: 1rem;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: large;
}

button:hover{
    background-color: #555;
}

footer{
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
}

.form-item{
    display: grid;
    align-items: center;
}

.column1{
    grid-template-columns: 3fr 1fr;
}

.column2{
    grid-template-columns: 1fr 2fr;
}

.column3{
    border: 1px solid #000;
}







